/**
 * Templates
 */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Content Columns */

.col-1-1 {
	width: 100%;
}

.col-2-3 {
	width: 66.66%;
}

.col-1-3 {
	width: 33.33%;
}

.col-1-2 {
	width: 50%;
}

.col-1-4 {
	width: 25%;
}

.col-1-5 {
	max-width: 20%;
}

.col-2-5 {
	max-width: 40%;
}

.col-3-5 {
	max-width: 60%
}

.col-4-5 {
	max-width: 80%;
}

.col-1-8 {
	width: 12.5%;
}

/* Layouts */

.asfaq_item_link {
	display: block;
}

#asfaq-kb-sidebar,
#asbaq-kb-main {
	height: 100%;
}

.asfaq-kb-header hr {
	margin: 0.5em 0;
}

ul.asfaq-kb-sidebar,
ul.asfaq-kb-sidebar li ul {
	list-style: none;
	margin: 0;
}

ul.asfaq-kb-sidebar {
	margin: 0 0.8% 20px;
}

.asfaq-kb-sidebar li {
	min-height: 35px;
}

.asfaq-kb-sidebar li a {
	/* inline-block fixes padding on line wrap */
	display: inline-block;
	padding: 0 15px;
	vertical-align: sub;
}

.asfaq-kb-sidebar li.current-cat > a {
	font-weight: bold;
}

.asfaq-kb-sidebar > li > ul {
	padding-left: 10px;
}

.asfaq-breadcrumb {
	font-style: italic;
	font-weight: normal;
}

.asfaq-collection-content .grid-section-intro:first-child {
	margin-top: 0px;
}

.grid-section-intro {
	margin-top: 75px;
	text-align: center;
}

.grid-section-heading {
	color: #000;
	font-size: 24px;
	font-weight: 600;
	margin: 0;
	text-transform: uppercase;
}

.grid-section-description {
	color: #4e4e4e;
	font-size: 14px;
	margin: 1.5em 0;
}

/* Grid */

.collection-grid {
	margin: 20px 0 20px 0;
	padding-top: 20px;
}

.collection-grid:after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-'] {
	float: left;
	padding-right: 20px;
	margin-bottom: 20px;
}

.collection-grid [class*='col-']:last-of-type {
	padding-right: 0;
}

.collection-grid-pad {
	padding: 20px 0 20px 20px;
}

.collection-grid-pad [class*='col-']:last-of-type,
.collection-grid-pad [class*='col-']:only-of-type {
	padding-right: 20px;
}

/* Grid Elements */

.collection-item {
	padding: 20px;
}

.collection-item h3 {
	padding: 10px 0 5px;
	margin-bottom: 5px;
}

.collection-item .faq-count {
	background: #dfdfdf;
	height: 26px;
	margin: 4px 0 0;
	padding: 0 7px;
	float: right;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	text-align: center;
	text-transform: uppercase;
}

.grid-box-count {
	color: #8f8f8f;
	font-size: 14px;
	margin: 0;
	text-transform: uppercase;
}

.grid-box-heading {
	color: #000;
	font-size: 24px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
}

.grid-box-description {
	color: #4e4e4e;
	font-size: 14px;
	margin: 1.5em 0;
}

.twentyfourteen .site::before {
	width: 0px;
}

.twentyfourteen.masthead-fixed .site-main {
	padding: 0 30px;
}

@media screen and (max-width: 782px) {
	.asfaq-collection-content {
		padding: 0px 50px;
	}
}
