#newas-faq-collection_parent {
	display: none !important;
}

.asfaq-collection-checklist .needs-item {
	color: #a00;
}

.asfaq-collection-checklist .has-item {
	color: #46b450;
}

.asfaq-collection-settings.form-table th {
	font-size: .95em;
}
